<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head",{titulo: "Optica"})%>
<body>
    <%- include("../partials/header",{usuario: email})%>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-8 ">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <form action="/formularioVentas" >
                    <h3 class="mb-8">Inicio de formulario de ventas:</h3>
                    <br>
                    <div class="form-outline mb-4">
                    <input name="cliente" type="text"  class="form-control form-control-lg" placeholder="Nombre del cliente" />
                    </div>                   
                    <input name="id" type="hidden"  class="form-control form-control-lg" placeholder="Nombre del cliente" value=<%=id%>>
                    <input name="email" type="hidden"  class="form-control form-control-lg" placeholder="Nombre del cliente" value="<%=email%>">
                    <input name="password" type="hidden"  class="form-control form-control-lg" placeholder="Nombre del cliente" value="<%=password%>" >
                    
                    <br>
                    
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Iniciar venta</button>
                  
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div> 
      <%- include("../partials/footer")%>
</body>
<%- include("../partials/closeHead")%>
</html>