<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head",{titulo: "Optica"})%>
<body>
    <%- include("../partials/header",{usuario: email})%>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-8 ">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">
                <form action="/ingresarProductoVenta" >
                    <h3 class="mb-8">Formulario de ventas: N° <%=venta%></h3>
                    <p>Cliente: <%=cliente %></p>
                    <br>
                    <div class="form-outline mb-4">
                      <input name="id_producto" type="text"  class="form-control form-control-lg" placeholder="ID producto" > 
                    </div>                   
                    <div class="form-outline mb-4">
                      <input name="cantidad_producto" type="number"  class="form-control form-control-lg" placeholder="Cantidad producto" > 
                    </div>  
                    <input name="id" type="hidden"  class="form-control form-control-lg" placeholder="Nombre del cliente" value=<%=id%>>
                    <input name="email" type="hidden"  class="form-control form-control-lg" placeholder="Nombre del cliente" value="<%=email%>">
                    <input name="password" type="hidden"  class="form-control form-control-lg" placeholder="Nombre del cliente" value="<%=password%>" >
                    <input name="venta" type="hidden"  class="form-control form-control-lg" placeholder="Nombre del cliente" value=<%=venta%> >
                    <input name="cliente" type="hidden"  class="form-control form-control-lg" placeholder="Nombre del cliente" value="<%=cliente%>" >
                    
                    <br>
                    
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Registrar producto</button>
                </form>

                <form action="/generarBoleta">
                  <input name="id" type="hidden"  class="form-control form-control-lg" placeholder="Nombre del cliente" value=<%=id%>>
                    <input name="email" type="hidden"  class="form-control form-control-lg" placeholder="Nombre del cliente" value="<%=email%>">
                    <input name="password" type="hidden"  class="form-control form-control-lg" placeholder="Nombre del cliente" value="<%=password%>" >
                    <input name="venta" type="hidden"  class="form-control form-control-lg" placeholder="Nombre del cliente" value=<%=venta%> >
                    <br>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Terminar y Registrar venta</button>
                </form>
                  
                
              </div>
            </div>
          </div>
        </div>
      </div> 
      <%- include("../partials/footer")%>
</body>
<%- include("../partials/closeHead")%>
</html>